<div class="column">
    <nav class="panel">
      <p class="panel-heading">Who to follow</p>
    
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
           <img src="https://i.stack.imgur.com/9hH0S.png">
          </figure>
        </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Anna Muzykina</strong>
          <strong>anna.muzykina@gmail.com</strong>
         </p>
      </div>
    </div>
    </article>
  </div>
  <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
           <img src="https://avatars2.githubusercontent.com/u/46542515?s=400&v=4">
          </figure>
        </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Emogene Akwiri</strong>
          <strong>emogene@gmail.com</strong>
         </p>
      </div>
    </div>
    </article>
  </div>
  <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
           <img src="https://avatars1.githubusercontent.com/u/31193823?s=400&v=4">
          </figure>
        </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Maya Douglas</strong>
          <strong>maya@gmail.com</strong>
         </p>
      </div>
    </div>
    </article>
  </div>
</nav>
</div>
